alabaster
anyio
arrow
async-generator
attrs
Babel
beautifulsoup4
bibtexparser
boto3
botocore
bs4
certifi
charset-normalizer
Deprecated
dnspython
docutils
exceptiongroup
fake-useragent
free-proxy
h11
httpcore
httpx
idna
imagesize
Jinja2
jmespath
langdetect
lxml
MarkupSafe
nordvpn-switcher
outcome
packaging
pathlib
psutil
Pygments
pymongo
pyparsing
PySocks
python-dateutil
python-dotenv
random-user-agent
requests
requests-ip-rotator
s3transfer
scholarly
selenium
six
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
stem
tqdm
trio
trio-websocket
typing_extensions
urllib3
wrapt
wsproto
